@import "variables";

footer {
    background-color: $color2;
    color: $color6;
    margin-top: $dist6;
    & .redes {

        font-size: $fsize7;
        text-align: center;
        margin: auto;
        margin-bottom: $dist3;

        & .fab, .fa-brands {
            color: $color6;
            margin-left: $dist6;
            margin-right: $dist6;
            align-content: space-around;
            transition-property: all;
            transition-duration: 0.5s;
        }

        & .fab:hover {
            color: $color1;
        }
        & .fa-brands:hover {
            color: $color1;
        }
    }

    & .contacto {
        & .contactFoot {
            margin-right: $dist3;
            list-style: none;
            text-align: right;

        }
    }

    & .contactDesigner {
        text-align: center;

        p {
            font-family: $fuente5;
            font-size: $fsize3;
            //color: $color2;
        }

        a {
            text-decoration: none;
            color: $color5;
            transition-property: all;
            transition-duration: 0.5s;
        }

        a:hover {
            color: $color1;
        }


    }
}