@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat&family=Handlee&family=PT+Serif:ital@1&family=Patrick+Hand&display=swap');


/* paleta de colores */

$color1: #00a6ff;
$color2: #00d5ff;
$color3: #00ffff;
$color4: #39fff1;
$color5: #efffd2;

/*
.color1 {color: #00a6ff;}
.color2 {color: #00d5ff;}
.color3 {color: #00ffff;}
.color4 {color: #39fff1;}
.color5 {color: #efffd2;}
*/

/* fuentes */

$fuente1: 'Annie Use Your Telescope', cursive;
$fuente2: 'Caveat', cursive;
$fuente3: 'Handlee', cursive;
$fuente4: 'Patrick Hand', cursive;
$fuente5: 'PT Serif', serif;

/*font size*/
$fsize1: 5px;
$fsize2: 2*$fsize1;
$fsize3: 3*$fsize1;
$fsize4: 4*$fsize1;
$fsize5: 5*$fsize1;
$fsize6: 6*$fsize1;
$fsize7: 7*$fsize1;
$fsize8: 8*$fsize1;
$fsize9: 9*$fsize1;
$fsize10: 10*$fsize1;


/* margins and padding */

$dist1: 5px;
$dist2: 2*$dist1;
$dist3: 3*$dist1;
$dist4: 4*$dist1;
$dist5: 5*$dist1;
$dist6: 6*$dist1;