@import "variables";
@import "footer";

* {
    margins: 0px;
    padding: 0px;
}

body {
    /*background-image: url(../images/fondo1.svg);
    background-size: cover;
    background-position: top;*/
    background-color: white;
}

h1 {
    font-family: $fuente3;
    text-align: center;
}
h2 {
    font-family: $fuente2;
    font-size: $fsize8;
    text-align: center;
}

h3 {
    font-family: $fuente3;
    text-align: center;
}

h4 {
    font-family: $fuente3;
    font-size: $fsize5;
    text-align: center;
}

p {
font-family: $fuente3;
font-size: $fsize5;
}

.navbar {
    background-color: $color2 !important;
    font-family: $fuente3;
    font-size: $fsize4;

    a::first-letter{
        font-size: $fsize5;
        }
}



.nav-link {
    color: white !important;
    transition-property: all ;
    transition-duration: 0.7s;

}

.nav-link:hover {
    color: $color5 !important;
    font-size: $fsize5;
}

main {
    margin-top: $dist6;
}

.principal {
    margin-top: $dist6;
    & .presentation {
        height: 500px;
        width: 100%;
        background-image: url(../images/santuario1.JPG);
        background-size: cover;
        background-position: center;
        margin-top: $dist6;
        margin-bottom: $dist6;
        border: 2px solid $color5;
        border-radius: 10px;
        }
}



.carousel-caption {
    text-shadow: 1px 1px 2px $color1;
    color: $color5;
}


.nav-pills{
    background-color: $color2 !important;
}


.listhor {
    list-style: none;
    font-family: $fuente4;
    font-size: 20px;
}

#radio {
    ul {
        li {
            list-style: none;
            text-align: center;
        }
    }
}