@import "variables";
@import "footer";

* {
    margins: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/fondo1.svg);
    background-size: cover;
    background-position: top;
}

h1 {
    font-family: $fuente3;
    text-align: center;
}
h2 {
    font-family: $fuente2;
    font-size: $fsize8;
    text-align: center;
}

h3 {
    font-family: $fuente3;
    text-align: center;
}

p {
font-family: $fuente3;
font-size: $fsize5;
}

.navbar {
    background-color: $color2 !important;
    font-family: $fuente3;
    font-size: $fsize4;

    a::first-letter{
        font-size: $fsize5;
        }
}



.nav-link {
    color: white !important;
    transition-property: all ;
    transition-duration: 0.7s;

}

.nav-link:hover {
    color: $color5 !important;
    font-size: $fsize5;
}

.presentation {
height: 800px;
width: 100%;
background-image: url(../images/santuario1.JPG);
background-size: cover;
background-position: center;
margin: auto;
}